html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Melhor controle de fontes em responsividade */
}

/* Remove margem e padding padrão de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração básica do corpo da página */
body {
    font-family: 'Inter';
    background-color: #FFD700;
    height: auto;
    width: auto;
    margin: 0;
}

h2 {
    color: black;
    font-size: 1.7rem;
    display:block;
    font-weight: 500;
}

p {
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
}

#loading {
    display: none;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin: 50px;
}

.header {
    background-color: #121212;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .user .icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

header .exit {
    display: flex;
    align-items: center;
}

header .exit .icon {
    background-color: #121212;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .actions .btn.action {
    background-color: #ffcc00;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px; 
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .chart {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 45%; 
    height: 300px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .chart-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
  }
  
  .chart-option {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos do modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .confirm, .cancel {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm {
    background-color: #ffcc00; 
  }
  
  .cancel {
    background-color: #ccc;
  }

  .box-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* BOTÕES TEMPORÁRIOS!!!!!! */
.btn-box{
    background-color: #000000;
    padding: 2rem;
    width: 10rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btn-box:hover {
    background-color: #e0af0c;
    color: rgb(0, 0, 0);
    box-shadow:inset rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.box-article{

    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}