html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Melhor controle de fontes em responsividade */
}

/* Remove margem e padding padrão de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração básica do corpo da página */
body {
    font-family: 'Inter';
    background-color: #FFD700;
    height: auto;
    width: auto;
    margin: 0;
}

h2 {
    color: black;
    font-size: 1.7rem;
    display:block;
    font-weight: 500;
}

p {
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
}

#loading {
    display: none;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin: 50px;
}

.header {
    background-color: #121212;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .user .icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

header .exit {
    display: flex;
    align-items: center;
}

header .exit .icon {
    background-color: #121212;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.main{
    display:grid;
    margin-top: 3rem;
    flex-direction:row;
}

.box-article {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.btn-box{
    background-color: #000000;
    padding: 2rem;
    width: 13rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 1rem;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    /* Adicionando a transição suave */
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btn-box:hover {
    background-color: #e0af0c;
    color: rgb(0, 0, 0);
    box-shadow:inset rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.box-article{

    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.value-article{

    width: 100%;
    height: 14rem;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.value-containner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 6rem;
    background-color: #e0bf00;

    margin: 0.7rem;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: inset rgba(50, 50, 93, 0.7) 4px 4px 10px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.value-box{
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: 1rem;
    color: black;

}