body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica acima de outros conteúdos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centraliza a caixa */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura da caixa */
}

.close {
    color: #aaa;
    float: right; /* Alinha o "x" à direita */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
