<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Financie</title>

    <!-- Css Linkado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/login.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Icon da Aba do Navegador -->
    <link rel="icon" href="{{ url_for('static', filename='images/logo financie.png') }}" type="image/png">

    <!-- Fontes do Google: Roboto Slab -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/user/login.js') }}"></script>
</head>

<body>

    <photo >
        
    </photo>

    <main>
        <section class="welcome-section">

            <welcome-box class="welcome-box">
                <h1>Olá de novo!</h1>
                <div class="msg" style="color: rgb(70, 70, 70); font-weight: 400;">
                    <a href="/user/register" style="color: rgb(70, 70, 70); font-weight: 400;">Não tem uma conta ainda? clique aqui!</a>
                    
                </div>
            </welcome-box>

        </section>

        <form id="loginForm" action="/user/login" method="POST">

            <article class="form-article">

                <section class="form-section">  <!-- email -->

                    <div class="msg">
                        Email
                    </div>

                        <input class="form-box" type="text" id="email" name="email" required>

                    <div class="msg-error" id="message-error">

                    </div>

                </section>


            </article>



            <article class="form-article">

                <section class="form-section"> <!-- password -->

                    <div class="msg">
                        Senha
                    </div>

                    <input class="form-box" type="password" id="password" name="password" required>

                    <div class="msg">
                        <a href="/forget-password" style="color: rgb(70, 70, 70); font-weight: 400; padding-top: 0.2rem">Esqueci minha senha</a>
                    </div>

                    </div>

                </section>


            </article>



            <article class="login-article-button">

                <button type="submit" class="login-section-button">Login</button> 


            </article>
            

        </form>

    </main>
    
</body>