<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações - Beesiness</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/settings.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='images/Beesiness_logo.png')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <h1>Configurações da Conta</h1>
        <form id="settingsForm" action="/user/settings" method="post">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" value="{{ current_user.fullname }}" required>
                <p class="error" id="name-error"></p>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" value="{{ current_user.email }}" required>
            </div>

            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="cpf" value="{{ current_user.cpf }}" required>
                <p class="error" id="cpf-error"></p>
            </div>

            <div class="form-group">
                <label for="password">Senha atual</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha atual" required>
            </div>

            <div class="form-group">
                <label for="new_password">Nova senha</label>
                <input type="password" id="new_password" name="new_password" placeholder="Digite a nova senha" required>
                <p class="error" id="new_password-error"></p>
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirmar nova senha</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirme a nova senha" required>
            </div>

            <div class="form-actions">
                <button type="submit" class="save-btn">Salvar Alterações</button>
            </div>
        </form>
    </section>
    <script src="{{ url_for('static', filename='js/user/settings.js') }}"></script>
</body>
</html>
