html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Remove margem e padding padrão de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração básica do corpo da página */
body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

p {
    color: red;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

/* Loading da tela: <div class="loader"></div> */
.loading {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #ebd40b;
    animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}

@keyframes l20-2 { 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}

/* Css da box do erro */
.error {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 1rem;
    border-radius: 5px; 
}

/* Css do menu das datas */
.menu-container {
    background-color: #FFD700;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 1rem;
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
} 

.menu-box {
    background-color: white;
    display: flex;
    height: 40%;
    margin-right: 3rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 15px;
    cursor:pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}

.menu-box select {
    background-color: transparent;
    color: #000000;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    appearance: none;
    text-align: center;
}

.menu-box:hover {
    background-color: rgb(34, 34, 34);
    color: black;
    box-shadow:inset rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Main principal do código */
.main {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

/* Container principal */
.year-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.year-title-container {
    display: flex;
    background-color: #3b3b3b;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    width: 100%;
    height: 3rem;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
}

.year-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
}

.year-box {
    display: flex;
    margin: 0 1rem;
    padding: 0.2rem;
    align-items: center;
    text-align: center;
}

/* Categorias do DRE */
.financial-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.category-item {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.category-title {
    background-color: #e2e1e1;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.category-value {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1rem;
}

/* Transição para esconder as categorias */
.data-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 1000px;
}

.data-list.collapsed {
    max-height: 0; /* Quando oculto, o conteúdo desaparece */
}


.data-item {
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    padding-left: 2rem;
    font-size: 1rem;
    text-align: left;
    border-radius: 0.4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

.data-item:hover {
    background-color: #eaeaea;
}

/* Cores */
#receita-operacional-bruta {
    color: #52e40f;
}

#deducoes-receita-bruta, #despesas-operacionais, #custos-vendas {
    color: #DC5D5D;
}

#resultado-liquido, #resultado-operacional-liquido, #resultado-operacional-bruto {
    color: #ecca09;
}