html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Remove margem e padding padrão de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração básica do corpo da página */
body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

p {
    color: red;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

/* Loading da tela: <div class="loader"></div> */
.loading {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #ebd40b;
    animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}

@keyframes l20-2 { 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}

/* Css da box do erro */
.error {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 1rem;
    border-radius: 5px; 
}

/* Css do menu das datas */
.menu-container {
    background-color: #FFD700;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 1rem;
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
} 

.menu-box {
    background-color: white;
    display: flex;
    width: 6rem;
    height: 40%;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 15px;
    cursor:pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}

.menu-box:hover {
    background-color: rgb(34, 34, 34);
    color: white;
    box-shadow:inset rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Main principal do código */
.main {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}