html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Remove margem e padding padrão de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração básica do corpo da página */
body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

h4 {
    color: black;
    font-size: 0.7rem;
    display:block;
    font-weight: 500;
}

h2 {
    color: black;
    font-size: 1.7rem;
    display:block;
    font-weight: 500;
}

h1 {
    color: white;
    font-size: 1.4rem;
    display:block;
    font-weight: 500;
}

p {
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
}

.loading{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #ebd40b;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }
  .values_container_mobile{
    display: none;
  }

.header {
    background-color: #121212;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .user .icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

header .exit {
    display: flex;
    align-items: center;
}

header .exit .icon {
    background-color: #121212;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.menu-container{
    background-color: #FFD700;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 1rem;
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
} 

.menu-box{
    background-color: white;
    display: flex;
    width: 6rem;
    height: 40%;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}

.menu-box:hover {
    background-color: rgb(34, 34, 34);
    color: white;
    box-shadow:inset rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main{
    display:flex;  
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;

}

.error {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 1rem;
    border-radius: 5px; 
}

/* Modal: */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 40rem;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    position: relative;
}

.modal-header {
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
}

.modal-header h2 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column; 
}

.event-class-status {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.emission-class-expiration {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    gap: 2rem;
}

p {
    margin: 5px 0;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-top: 1px solid #ccc; 
    width: 100%;
    margin: 0;
    position: relative;
    bottom: 0;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer p {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

/* Cor do texto modal*/

.modal-content p {
    color: black;
}


label {
    margin: 10px 0 1px 0;
    font-weight: bold; 
}

/* Option three dots */

.options-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #555;
}

.options-button img {
    width: 2rem;
    height: 2rem;
    display: block;
}

.options-button:hover {
    color: #000;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0;
}

.dropdown-item {
    display: block;
    padding: 10px 15px; 
    cursor: pointer;
    color: #333;
    text-align: right; 
    border: none;
    background-color: transparent;
    transition: background-color 0.2s; 
}

/* Container dos meses e dias*/
.month-container{
    display:inline-block;
    width: 95%;
    height: auto;
    margin-top: 1.5rem;
    padding-top: 0.3rem;
    border-radius: 0.5rem;
    justify-content: center;
    
}

.month-container:first-of-type {
    margin-top:0rem;
}

.month-title-container{
    display: flex;
    background-color: #3b3b3b;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.4rem;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.month-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.3rem;

}

.month-box{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 0.2rem;
    align-items: center;
}

.day-container{
    display:inline-block;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
}

.day-container:hover {

    .title-container{
        background-color: #cccccc;} 

    .description-container{
        display: flex;
        background-color: #EDEDED;}
 
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px, rgba(0, 0, 0, 0) 0px 3px 6px;
}

.title-container{
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    font-size: small;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.title-box{
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;

}

.description-container{
    display: flex;
    background-color: white;
    font-size: small;
    justify-content: space-between;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-bottom: 0.7rem;
    padding-top: 0.3rem;
    border-bottom-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

@media (max-width: 40rem) { 

    h4 {
        color: black;
        font-size: 0.8rem;
        display:block;
        font-weight: 500;
    }

    h2 {
        color: black;
        font-size: 1.7rem;
        display:block;
        font-weight: 500;
    }


    .menu-container{
        background-color: #FFD700;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        padding-left: 0;
        box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
    } 

    .menu-box{
        background-color: white;
        display: flex;
        width: 6rem;
        height: 40%;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        font-weight: 600;
        font-size: 15px;
        box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
    }

    .month-container{
        display:inline-block;
        width: 100%;
        height: 10rem;
        margin-bottom:2rem;
        padding-top: 0.3rem;
        border-radius: 0.5rem;
        justify-content: center;
        
    }

    .month-article{
        display:flex;
        justify-content: space-between;

    }

    .month-box{
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        margin-bottom: 0.3rem;
    }

    .black-line{
        background-color: black;
        width: 100%;
        height: 0.1rem;
        margin-bottom: 0.5rem;
    }

    .day-container{
        display:inline-block;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
        align-items: center;
        width: 100%;
        height: auto;
        border-radius: 0.6rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


    }

    .title-container{
        background-color: #EDEDED;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        font-size:smaller;
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
    }

    .title-box{
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
        height: auto;

    }

    .description-container{
        display:inline-block;
        background-color: white;
        font-size: small;
        border-radius: 0.6rem;
        justify-content: space-between;
        
    }

    .descrition-box{
        width: 100%;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
    }

}
