/*

O CSS AINDA NÃO ESTÁ PRONTO, SENDO FEITO.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFD400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 1.25rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}


.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  label:hover {
    color: #333;
  }
  

  input[type="text"],
  input[type="name"],
  input[type="cpf"],
  input[type="email"] {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.625rem;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="name"]:focus,
  input[type="cpf"]:focus,
  input[type="email"]:focus {
    border-color: #ffd400;
    background-color: #fff;
    outline: none;
  }
  

  input[type="text"]:hover,
  input[type="name"]:hover,
  input[type="cpf"]:hover,
  input[type="email"]:hover {
    border-color: #bbb;
  }
  
  /* Ajustando para dispositivos menores */
  @media (max-width: 768px) {
    input[type="text"],
    input[type="name"],
    input[type="cpf"],
    input[type="email"] {
      font-size: 1rem;
      padding: 1rem;
    }
  
    label {
      font-size: 0.875rem;
    }
  }