<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Página Não Encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors/404.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='images/errors/404.png') }}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="container">
        <h1>404</h1>

        <p>A página não foi encontrada!</p>
        <a href="/" class="button">Voltar para a Página Inicial</a>

    </div>
</body>
</html>
