html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Remove margem e padding padrão de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração básica do corpo da página */
body {
    font-family: inter;
    background-color: #d2d2d2; /*FFD700*/
    height: 100vh;
    width: auto;
    margin: 0;
}

p {
    font-family: inter;
    color: white;
    font-size: 1.1rem;
    font-weight:300;
}

#loading {
    display: none;
    font-size: 1.5em;
    color: #000000;
    text-align: center;
    margin: 50px;
}

.header {
    background-color: #121212;
    width: 100%; 
    height: 4rem;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

header .user {
    display:flex;
    align-items: center; 
    gap: 1rem;
    
} 

header .user .icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

header .exit{
    display:flex;
    align-items: center; 
}

header .exit .icon {
    background-color: #121212;
    margin-right: 20px;
    width: 30px;
    height: 30px;

}

.main {
    width: 100%;
    height: auto; 
    display: flex;
    align-items: center; 
    justify-content: center;

}

.main h1 {
    font-family: inter;
    color: rgb(0, 0, 0);
    margin-left: 2rem;
    font-size: 1.8rem;
    font-weight:400;
}

.main h2 {
    font-family: inter;
    color: white;
    margin-left: 2rem;
    font-size: 1.8rem;
    font-weight:400;
}

.main p {
    color: white;
    margin-top: 0.3rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight:300;
    text-shadow: #000 1px 1px 4px;
}

.main .icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

main .box {
    background-color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
      border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.main .box .new_company {
    cursor: pointer;
    background-color: #FFD400; /*#2F7B00*/
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
    width: 90%;
    height: 15vh; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-radius: 2rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main .box .new_company:hover {
    background-color: #f4cd09;
}

.main .box .company:hover {
    background-color: #1d1d1d;
}

main .box .company {
    background-color: #222222;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-right: 2rem;
    width: 90%;
    height: 20vh; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-radius: 2rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

main .box .company .company-data {
    justify-content:flex-start;
}

main .box .company-data-error {
    background-color: #222222;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-right: 2rem;
    width: 90%;
    height: 20vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.icon-simbolo {
    width: 60px;
    height: 60px;
    margin-left: 15px;
}

.nome-empresa {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.company-data {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 10px;
}


@media (max-width: 40rem) { 
    p {
        color: white;
        margin-left: 0.6rem;
        font-size: 0.9rem;
        font-weight:300;
    }

    header .user {
        display:flex;
        align-items: center; 
        gap: 0rem;
        margin-left: 0.1rem;
        
    } 

    header .user .icon {
        margin-left: 0.4rem;
        width: 30px;
        height: 30px;
    }

    .main h1 {
        font-family: inter;
        color: white;
        margin-left: 2rem;
        font-size: 0.9rem;
        font-weight:300;
    }
    .main p {
        font-family: inter;
        color: white;
        margin-top: 0.3rem;
        margin-left: 2rem;
        font-size: 0.7rem;
        font-weight:300;
        text-shadow: #000 1px 1px 4px;
    }
    main .box .icon {
        margin-left: 0.4rem;
        width: 20px;
        height: 20px;
    }

    main .box {
        max-width: 800px;
        background-color: transparent;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 0;
        padding-right: 0;
        width: 95%;
        height: 90vh; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-start;
          border-radius: 2rem;
        box-shadow: rgba(50, 50, 93, 0) 0px 13px 27px -5px, 
        rgba(0, 0, 0, 0) 0px 8px 16px -8px;
    
    }

    main .box .new_company {
        margin-top: 0.3rem;
        margin-bottom: 1rem;
        padding-right: 1rem;
        width: 90%;
        height: 6vh; 
        display: flex;
        align-items: center; 
        justify-content: space-between;
        border-radius: 0.5rem;
        border: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
    }
    
    main .box .company {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-right: 2rem;
        width: 90%;
        height: 10vh; 
        border-radius: 0.5rem;

    }
        
    main .box .company-data-error {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-right: 2rem;
        width: 90%;
        height: 10vh; 
        border-radius: 0.5rem;

    }

    .icon-simbolo {
        width: 4rem;
        height: 4rem;
        margin-left: 1rem;
    }
    
    .nome-empresa {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 1rem;
    }
    
    .company-data {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
    }
    
    @media (max-width: 40rem) { 
        p {
            color: white;
            margin-left: 0.6rem;
            font-size: 0.9rem;
            font-weight: 300;
        }
    
        header .user {
            display: flex;
            align-items: center; 
            gap: 0rem;
            margin-left: 0.1rem;
        } 
    
        header .user .icon {
            margin-left: 0.4rem;
            width: 30px;
            height: 30px;
        }
    
        .main h1 {
            font-family: inter;
            color: white;
            margin-left: 2rem;
            font-size: 0.9rem;
            font-weight: 300;
        }
    
        .main p {
            font-family: inter;
            color: white;
            margin-top: 0.3rem;
            margin-left: 2rem;
            font-size: 0.7rem;
            font-weight: 300;
            text-shadow: #000 1px 1px 4px;
        }
    
        main .box .icon {
            margin-left: 0.4rem;
            width: 20px;
            height: 20px;
        }
    
        main .box {
            max-width: 800px;
            background-color: transparent;
            margin: 0; 
            padding: 1rem 0;
            width: 95%;
            height: 90vh; 
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: flex-start;
            border-radius: 2rem;
            box-shadow: rgba(50, 50, 93, 0) 0px 13px 27px -5px, 
                        rgba(0, 0, 0, 0) 0px 8px 16px -8px;
        }
    
        main .box .new_company {
            margin-top: 0.3rem;
            margin-bottom: 1rem;
            padding-right: 1rem;
            width: 90%;
            height: 6vh; 
            display: flex;
            align-items: center; 
            justify-content: space-between;
            border-radius: 0.5rem;
            border: none;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
        
        main .box .company, main .box .company-data-error {
            margin: 0.5rem 0;
            padding-right: 2rem;
            width: 90%;
            height: auto;
            border-radius: 0.5rem;
        }
    
        .icon-simbolo {
            width: 40px;
            height: 40px;
            margin-left: 10px;
        }
        
        .nome-empresa {
            font-size: 1.2rem;
            margin-left: 0.5rem;
        }
    
        .main .box .company {
            height: auto; 
        }
    
        .main .box .company-data {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding: 5px;
        }
    }
}