<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/user/dashboard.css') }}">

    <!-- Icon da Aba do Navegador -->
    <link rel="icon" href="{{ url_for('static', filename='images/Beesiness_logo.png') }}" type="image/x-icon">

    <!-- Fontes do Google: Roboto Slab -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"/>

    <script src="{{ url_for('static', filename='js/dashboard/user/companies_data.js') }}"></script>

  </head>
    <body>
      {% include 'dashboard/user/header.html' %}

      <main class="main">
        <div class="box" id="resultado">
          <button id="newCompanyButton" class="new_company" type="button">
            <h1>Registrar empresa</h1>
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/public/next.png') }}" alt="next">
          </button>   
          <div id="loading">Carregando...</div>
        </div>
      </main>
      
    </body>
</html>
