/* Reset de margens, preenchimentos e box-sizing para garantir um layout consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Transição suave ao rolar a tela */
html {
    scroll-behavior: smooth;
}

/* Configuração básica do corpo da página */
body {
    font-family: Roboto Slab;
    overflow-x: hidden; 
}

a {
    color: #000;
    text-decoration: none;
}

.icon {

    margin-top: 16px;
    width: 36px !important;
    height: 36px !important;
    margin-right: 8px !important;
}

/* Estilo do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: #000;
    flex-wrap: wrap;
    max-width: 100vw; 
}

/* Estilo do logotipo */
.logo {
    font-size: 2.0rem; /* 24px */
    color: #FFD700;
    font-weight: bold;
    margin: 10;
}

/* Estilo do menu de navegação */
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 100vw; 
}

nav ul li {
    margin-right: 1.25rem;
    margin-bottom: 0.625rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem; /* 16px */
}

/* Estilo dos botões no cabeçalho */
.buttons {
    display: flex;
    flex-direction: row; 
    margin-top: 1.25rem;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 1rem; 
}

/* Estilo para botões de navegação e botões de ação */
.register, .login, .logout, .dashboard{
    padding: 0.75rem 1.5rem; 
    text-decoration: none;
    border-radius: 0.375rem; 
    font-size: 1rem; 
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 0.5rem; 
    display: inline-block;
    width: auto; 
    text-align: center;
    max-width: 100%; 
}

/* Estilo do botão de registro */
.register {
    background-color: #FFD700;
    color: black;
    border: 1px solid #FFD700;
}

.register:hover {
    background-color: #FFC107;
}

/* Estilo do botão de login */
.login {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.login:hover {
    background-color: #f0f0f0;
}

/* Estilo do botão de logout */
.logout {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.logout:hover {
    background-color: #f0f0f0;
}

.dashboard {
    background-color: #FFD700;
    color: black;
    border: 1px solid #FFD700;
}

.dashboard:hover {
    background-color: #ffd900b7;
}

/* Estilo da seção hero */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.75rem 1.25rem;
    text-align: center; 
    max-width: 150vw;
    background-image: url('/static/images/index/abelha_desenho.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Primeiro pseudo-elemento: filtro escuro */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0); /* Cor preta com 0% de opacidade */
    z-index: -2; /* Coloca o overlay atrás do conteúdo e do segundo pseudo-elemento */
}

/* Segundo pseudo-elemento: efeito de blur */
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px); /* Aplica o desfoque */
    z-index: -1; /* Coloca o efeito de blur atrás do filtro escuro */
}


.hero h1 {
    font-size: 4rem;
    line-height: 1.2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 7.5), 
    0 0 25px rgba(0, 0, 0, 0.0), 
    0 0 5px rgba(0, 0, 0, 0.0); 
}

.hero .highlight {
    color: #FFD700;
}

.hero p {
    margin-top: 1.25rem;
    font-size: 1.125rem; 
    color: #000000;
}

/* Estilo do gráfico */
.chart {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    max-width: 100vw;
}

.chart img {
    max-width: 100%;
    height: auto;
}

/* Estilo da seção de recursos */
.features {
    padding: 3.75rem 1.25rem; 
    background-color: #000;
    color: #FFD700;
    text-align: center;
    max-width: 100vw;
    overflow: hidden; 
}

.features h2 {
    font-size: 1.9rem;
    margin-bottom: 2.5rem;
}

.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
}

.feature-item {
    flex: 1 1 30%;
    background-color: #111111;
    color: white;
    padding: 1.0rem;
    margin: 0.625rem;
    border-radius: 0.625rem;
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    font-size: 1.0rem;
}
/* Estilo da seção de equipe */
.team {
    padding: 2.00rem 1.25rem;
    background-color: #FFD700;
    color: black;
    text-align: center;
    max-width: 100vw;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
.team h2 {
    font-size: 2.5rem;
    margin-bottom: 2.0rem;
}

.team-member {
    flex: 1 1 30%;
    background-color: white;
    color: black;
    padding: 1.25rem;
    margin: 0.625rem;
    border-radius: 0.625rem;
    text-align: center;
    max-width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid transparent;
}

.team-member:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #FFD700; 
    background-color: #f8f8f8;
}

/* Estilo da imagem do membro da equipe */
.team-member img {
    width: 100%;
    max-width: 150px; 
    height: auto; 
    border-radius: 50%;
    margin-bottom: 1.25rem;
}

#pedro-card h3,
#pedro-card p,
#pedro-photo {
    transition: all 0.5s ease;
}

#pedro-photo {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}


/* Estilo responsivo para telas pequenas */
@media (max-width: 40rem) { 
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        font-size: 3rem; /* Ajuste o tamanho conforme necessário */
        margin-bottom: 1rem;
    }
    .register,.logout {
        padding: 0.5rem 2rem; 
        border-radius: 0.375rem; 
    }
    .login {
        padding: 0.5rem 3.3rem; 
        border-radius: 0.375rem; 
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 0.625rem;
    }

    .hero h1 {
        font-size: 3rem; 
    }

    .hero p {
        font-size: 1rem;
    }

    .buttons {
        flex-direction: column;
        margin-top: 1.25rem;
    }

    .feature-item, .team-member {
        flex: 1 1 100%;
        margin-bottom: 1rem;
    }

    .features h2 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .team-member img {
        max-width: 100px;
    }

    .footer {
        padding: 2.00rem 1.25rem;
        background-color: #FFD700;
        color: black;
        text-align: center;
        max-width: 100vw;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }
    .footer h2 {
        font-size: 2.5rem;
        margin-bottom: 2.0rem;
    }
}

@media (max-width: 25rem) { 
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .register,.logout {
        padding: 0.5rem 1.9rem; 
        border-radius: 0.375rem; 
    }
    .login {
        padding: 0.5rem 3.1rem; 
        border-radius: 0.375rem; 
    }
}
