body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #1e1e1e; /* Caixa escura */
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    max-width: 500px;
    margin: 20px;
    border: 1px solid #333; /* Borda suave */
}

h1 {
    color: #ffeb3b; /* Cor principal */
    margin-bottom: 20px;
}

p, ul li {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

ul {
    text-align: left;
    padding-left: 20px;
    list-style: disc;
}

.btn{
    padding: 0.75rem 1.5rem; 
    text-decoration: none;
    border-radius: 0.375rem; 
    font-size: 1rem; 
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 0.5rem; 
    display: inline-block;
    width: auto; 
    text-align: center;
    max-width: 100%; 
}
.btn {
    background-color: transparent;
    color: #ffeb3b;
    border: 1px solid #ffeb3b;
}

.btn:hover {
    background-color: #ffeb3b;
    color: black;
}
  


@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    p {
        font-size: 1em;
    }

    .btn {
        box-sizing: border-box;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        color: #e74c3c;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .btn:hover, .btn:focus {
        color: #fff;
        outline: 0;
      }
      
      .btn {
        border-color: #f1c40f;
        color: #fff;
        background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
        background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
      }
      .btn:hover {
        background-position: 0;
      }
      
      
}

