<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefícios de Registrar sua Empresa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/company/dashboard_new_user.css') }}">
</head>
<body>
    <div class="container">
        <h1>Aparente você ainda não está relacionado a nenhuma empresa...</h1>
        <div>
            <a href="/company/register" class="btn">Registrar Empresa</a>
            <a href="#" class="btn">Afilie-se a uma Empresa</a>
        </div>
    </div>
</body>
</html>
