html {
    scroll-behavior: smooth;
    font-size: 16px; /* Melhor controle de fontes em responsividade */
}

/* Configuração básica do corpo da página */
body {
    font-family: 'Inter', sans-serif;
    background-color: #FFD700;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h2 {
    color: black;
    font-size: 3rem;
    display:flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
}

p {
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
}

#loading {
    display: none;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin: 50px;
}

.header {
    background-color: #121212;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .user .icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

header .exit {
    display: flex;
    align-items: center;
}

header .exit .icon {
    background-color: #121212;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.main {
    background-color: #FFD700;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; 
}

.main h1 {
    color: white;
    margin-left: 2rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.main p {
    color: black;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.main msg-position{
    padding: 3rem;
}

main .out-box {
    align-items:center;
    justify-content:center;
    background-color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction:column;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



main .form-group {
    background-color: transparent;
    align-items:center;
    justify-content:center;
    column-count: 2;
    width: 100%;
    height: 100%;
}

.title {
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-shadow: inset rgba(50, 50, 93, 0.25) 13px 13px 15px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.left-box{
    display:grid;
    padding: 2rem;
    height: 90%;
    background-color: transparent;
}

.right-box{
    display:grid;
    background-color: transparent;
    height: 90%;
    background-color: transparent;

}

main .info-box{
    display: flex;
    flex-wrap:wrap;
    background-color: transparent;  

    

}
.info-box .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    height: 50%;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-box {
    background-color: transparent;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 4.5rem;
    margin: 0;
    border-color: #000;
    box-shadow: inset rgba(50, 50, 93, 0.25) 13px 13px 15px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.form-box-description {
    display: flex;
    background-color:transparent;
    width: 95%;
    min-height: 7rem; /* Define uma altura mínima */
    font-size: 1.125rem;
    font-weight: 500;
    text-align: start;
    margin-left: 0.7rem; /* Adiciona algum espaço interno ao redor do texto */
    border: 1px solid #000; /* Adiciona uma borda para visibilidade */
    box-shadow: inset rgba(50, 50, 93, 0.25) 13px 13px 15px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow: auto; /* Adiciona rolagem se o conteúdo exceder o tamanho */
    resize: vertical; /* Permite redimensionar a altura, se desejado */
    white-space: pre-wrap; /* Permite quebras de linha e preserva espaços em branco */
    line-height: 1.5; /* Define a altura da linha para melhorar a legibilidade */
}

h3{
    color: black;
    font-size: 1rem;
    display:flex;
    text-align: center;
    align-items: center;
    font-weight: 400;
}


.register-button {
    background-color: #FFD700;
    padding: 0.4rem 3.6rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    height: 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #FFC300;
}

.register-button:focus {
    outline: 2px solid #FFD700;
}



















/* Estilos responsivos */
@media (max-width: 40rem) {

    h2 {
        color: black;
        font-size: 1.7rem;
        display:block;
        font-weight: 500;
    }

    p {
        color: white;
        margin-left: 0.6rem;
        font-size: 0.9rem;
        font-weight: 300;
    }

    header .user {
        display: flex;
        align-items: center;
        gap: 0;
        margin-left: 0.1rem;
    }

    header .user .icon {
        margin-left: 0.4rem;
        width: 30px;
        height: 30px;
    }

    .main p {
        color: black;
        margin-top: 0.3rem;
        margin-left: 0.2rem;
        font-size: 1rem;
        font-weight: 500;
    }
    .main h1 {
        color: white;
        margin-left: 2rem;
        font-size: 0.9rem;
        font-weight: 300;
    }

    .main h3 {
        font-family: 'Inter';
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        font-weight: 700;
    }

    main .out-box {
        background-color: white;
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 2rem;
        margin: 2rem 2rem;
        padding: 1rem 2rem;
        width: 95%;
        height: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    }

    main .title {
        background-color: #F3F3F3;
        display:inline;
        text-align: center;
        margin-top: 0.5rem;
        padding: 1rem 4rem;
        border-radius: 1rem;
    }

    main .form-group {
        background-color: transparent;
        align-items: center;
        justify-content: center;
        width: 25rem;
        margin-bottom: 2rem;
        padding: 0 3rem;
    }
    
    main .form-container {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 1.7rem 0;
    }
    
    main .form-box {
        background-color: transparent;
        justify-content: center;
        font-size: 1.125rem;
        font-weight: 500;
        text-align: center;
        width: 100%;
        height: 3rem;
        border-color: #000;
        box-shadow: inset rgba(50, 50, 93, 0.25) 13px 13px 15px -5px, 
                    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    
    main .form-box-description {
        background-color: transparent;
        width: 100%;
        min-height: 7rem; /* Define uma altura mínima */
        font-size: 1.125rem;
        font-weight: 500;
        text-align: start;
        padding: 0.5rem; /* Adiciona algum espaço interno ao redor do texto */
        border: 1px solid #000; /* Adiciona uma borda para visibilidade */
        box-shadow: inset rgba(50, 50, 93, 0.25) 13px 13px 15px -5px, 
                    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        overflow: auto; /* Adiciona rolagem se o conteúdo exceder o tamanho */
        resize: vertical; /* Permite redimensionar a altura, se desejado */
        white-space: pre-wrap; /* Permite quebras de linha e preserva espaços em branco */
        line-height: 1.5; /* Define a altura da linha para melhorar a legibilidade */
    }
    
    
    .register-button {
        background-color: #FFD700;
        margin-top: 2rem;
        padding: 0.4rem 3.6rem;
        border-radius: 1rem;
        border: none;
        width: 100%;
        height: 4rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transition: background-color 0.3s ease;
    }
    
    .register-button:hover {
        background-color: #FFC300;
    }
    
    .register-button:focus {
        outline: 2px solid #FFD700;
    }

}