html {
    scroll-behavior: smooth;
    font-size: 16px; /* Melhor controle de fontes em responsividade */
}

/* Configuração básica do corpo da página */
body {
    font-family: Inter;
    background-color: #f1f1f1;
    height: auto;
    width: 100%;
    margin: 0;
    
}

h2 {
    color: black;
    font-size: 2rem;
    display:flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
}

p {
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
}

#loading {
    display: none;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin: 50px;
}

.header {
    background-color: #121212;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

header .user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .user .icon {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

header .exit {
    display: flex;
    align-items: center;
}

header .exit .icon {
    background-color: #121212;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 3rem;
    margin: 0rem;
}

h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0rem;
}

h3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 2.1rem;
    margin: 0rem;
}

.main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 92%;
    height: auto;
    margin-bottom: 1%;
}

section-title{
    display: flex;
    align-items: flex-start;
    margin: 0rem;
    padding-top: 2rem;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

container{
    display: flex;
    flex-direction: column;

}

box-msg{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    padding-bottom: 0.3rem;
}

input, textarea {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-style: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

input:hover, textarea:hover {
    background-color: rgb(165, 165, 165);
    
}

textarea {
    text-align: left;
    padding: 0.5rem;
}

.description{
    width: 100%;
    height: 100%;
}

.description textarea {
    height: 18rem;
}

.name{
    width:48%;
}

.creditor{
    width:22%;
}

.value{
    width:22%;
}

.emission_date{
    width: 22%;
}

.expiration_date{
    width: 22%;
}

.event{
    width: 22%;
}

.status{
    width: 22%;
}

.class{ /*Se a classe for venda, aparecer outra lista mostrando os ativos que poderam ser vendidos*/
    width: 86%;
    padding-bottom: 2rem;
}

.payment{
    width: 86%;
    padding-bottom: 2rem;
}

.installment{
    width: 86%;
}

.register-button {
    margin-top: 1rem;
    height: 5rem;
    width: 100%;
    background-color: #FFC300;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.7) 4px 4px 10px -5px, 
    rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
}

.register-button:hover {
    color:white;
    background-color: #070707;
}





















/* Modal de Aviso */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    padding: 10px 15px;
    border-radius: 10px;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center; 
    flex: 1;
}

.modal-header .close {
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.modal-body {
    padding: 10px;
}

.modal-body #success-message {
    color: black;
    text-align: center; 
}

#alert-message {
    color: black;
    text-align: center; 
}

.modal-body p {
    font-size: 1.1rem;
}

.button-group {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: #FFC300;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #070707;
}

