<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beesiness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='images/Beessiness_white_Logo.png') }}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />

</head>
<body>
    <header>
        <div class="logo">BEESINESS</div>
        <div class="buttons">
            <a href="/user-register" class="register">Registre-se</a>
            <a href="/user-login" class="login">Login</a>
        </div>
    </header>

    <main>
        <section id="hero" class="hero">
            <h1>Faça sua <span class="highlight">empresa voar</span><br>como uma <span class="highlight">abelha</span></h1>
            <p>Com a Beesiness, gerenciar sua empresa ficou mais fácil e eficiente. Transforme suas finanças e tome decisões baseadas em dados reais, melhorando o crescimento do seu negócio.</p>
        </section>

        <section id="features" class="features">
            <h2>A Beesiness é um aplicativo inovador voltado para pequenas e médias empresas, oferecendo uma plataforma completa para gestão econômica e contábil.</h2>
            <div class="features-container">
                <div class="feature-item">
                    <div class="icon">✔️</div>
                    <h3>Controle de receitas, despesas e fluxo de caixa em um só lugar.</h3>
                    <p>Beesiness é um aplicativo completo que tem tudo o que você precisa. Delete o resto.</p>
                </div>
                <div class="feature-item">
                    <div class="icon">✔️</div>
                    <h3>Relatórios Personalizados:</h3>
                    <p>Geração de relatórios detalhados para análise de desempenho financeiro.</p>
                </div>
                <div class="feature-item">
                    <div class="icon">✔️</div>
                    <h3>Integração Contábil:</h3>
                    <p>Facilite o trabalho com contadores, exportando facilmente dados financeiros.</p>
                </div>
            </div>
        </section>

        <section id="team" class="team">
            <h2>Conheça a Equipe</h2>
            <div class="team-container">
                <div class="team-member">
                    <div class="member-photo">
                        <img src="{{ url_for('static', filename='images/dev/rhuan.jpg') }}" alt="Rhuan Mulero">
                    </div>
                    <h3>Rhuan Mulero, CEO da Startup</h3>
                    <p>Rhuan Mulero além de nosso CEO é um de nossos desenvolvedores front-end.</p>
                    <p>
                        <a href="https://github.com/dev/rhuanmulero" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/GitHub_logo.png') }}" alt="GitHub" class="icon">
                        </a>
                        <a href="https://www.linkedin.com/in/rhuan-mulero/" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                        </a>
                        <a href="mailto:rhuanmscontato@gmail.com"><img src="{{ url_for('static', filename='images/site/Gmail_Logo.png') }}" alt="Gmail" class="icon">
                        </a>
                    </p>
                </div>
                

                
                <div class="team-member">
                    <div class="member-photo">
                        <img src="{{ url_for('static', filename='images/dev/miguel.jpeg') }}" alt="Miguel Marques">
                    </div>
                    <h3>Miguel Marques, Tech Lead</h3>
                    <p>Miguel Marques além de nosso Tech Lead é um de nossos desenvolvedores back-end.</p>
                    <p>
                        <a href="https://github.com/MiguelMMarques06" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/GitHub_logo.png') }}" alt="GitHub" class="icon">
                        </a>
                        <a href="https://www.linkedin.com/in/miguel-macedo-marques-8308392b8/" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                        </a>
                        <a href="mailto:miguelmm06@hotmail.com"><img src="{{ url_for('static', filename='images/site/Gmail_Logo.png') }}" alt="Gmail" class="icon">
                        </a>
                    </p>

                </div>

                <div class="team-member" id="pedro-card">
                    <div class="member-photo">
                        <img id="pedro-photo" src="{{ url_for('static', filename='images/dev/pedro.jpeg') }}" alt="Pedro Quixabeira">
                    </div>
                    <h3>Pedro Quixabeira, Engenheiro de Dados e Dev. Back-End</h3>
                    <p>Pedro Quixabeira além de nosso Engenheiro de Dados é um de nossos desenvolvedores back-end e diretor de diversidade.</p>
                    <p>
                        <a href="https://github.com/pedro11065" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/GitHub_logo.png') }}" alt="GitHub" class="icon">
                        </a>
                        <a href="https://www.linkedin.com/in/pedro-henrique-silva-quixabeira/" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                        </a>
                        <a href="mailto:pedrohenriquesilvaquixabeira@gmail.com"><img src="{{ url_for('static', filename='images/site/Gmail_Logo.png') }}" alt="Gmail" class="icon">
                        </a>
                    </p>
                </div>


                <div class="team-member">
                    <div class="member-photo">
                        <img src="{{ url_for('static', filename='images/dev/thiago.jpeg') }}" alt="Thiago Almeida">
                    </div>
                    <h3>Thiago Almeida, Dev. Back-End</h3>
                    <p>Thiago Almeida é um dos nossos desenvolvedores back-end, especializado em javascript</p>
                    <p>
                        <a href="https://github.com/ThiagoAlmeidaDev" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/GitHub_logo.png') }}" alt="GitHub" class="icon">
                        </a>
                        <a href="https://www.linkedin.com/in/thiagoalmeida29/" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                        </a>
                    </p>
                </div>

                <div class="team-member">
                    <div class="member-photo">
                        <img src="{{ url_for('static', filename='images/dev/beatriz.jpeg') }}" alt="Beatriz Lima">
                    </div>
                    <h3>Beatriz Lima, Dev. Front-End</h3>
                    <p>Beatriz Lima é uma das nossas desenvolvedoras front-end, especializada em UI</p>
                    <p>
                        <a href="https://github.com/biafalls" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/GitHub_logo.png') }}" alt="GitHub" class="icon">
                        </a>
                        <a href="https://www.linkedin.com/in/beatriz-lima-a21a6b2a4/" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                        </a>
                        <a href="mailto:biaevangelista1967@gmail.com"><img src="{{ url_for('static', filename='images/site/Gmail_Logo.png') }}" alt="Gmail" class="icon">
                        </a>
                    </p>
                </div>

                <div class="team-member">
                    <div class="member-photo">
                        <img src="{{ url_for('static', filename='images/dev/julia.jpeg') }}" alt="Julia Santos">
                    </div>
                    <h3>Julia Santos, Dev. Front-End</h3>
                    <p>Julia Santos é uma das nossas desenvolvedoras front-end, especializada em UX</p>
                    <p>
                        <a href="https://github.com/Juli4Souzas" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/GitHub_logo.png') }}" alt="GitHub" class="icon">
                        </a>
                        <a href="https://www.linkedin.com/in/julia-santos-3873252b3/" target="_blank">
                            <img src="{{ url_for('static', filename='images/site/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                        </a>
                        <a href="mailto:souzasjulia14@gmail.com"><img src="{{ url_for('static', filename='images/site/Gmail_Logo.png') }}" alt="Gmail" class="icon">
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </main>

    <script src="home.js"></script>
</body>
</html>
