<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beesiness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Beesiness_logo.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"/>
</head>

<body>
    <header>     
    
        <img class="logo" src="{{ url_for('static', filename='images/Beesiness_logo.png') }}" alt="Imagem do Cabeçalho">
        <section class="header-links">
            {% if current_user.is_authenticated %}
                <a href="/dashboard/user" class="dashboard">Dashboard</a>
                <a href="/user/logout" class="logout">Logout</a>
            {% else %}
                <a href="/user/register" class="register">Abra a sua conta</a>
                <a href="/user/login" class="login">Login</a>           
            {% endif %}
        </section>
    </header>

    <main>
        <article-hero>
            <section-hero>
                <h1>Faça a sua empresa <h1_1>voar </h1_1> <br>como uma <h1_1>abelha</h1_1></h1>
                <a class="box-hero" href="#features"><h2>Saiba mais</h2></a>
            </section-hero>
        </article-hero>

        <article class="features_background">

            <article-features-title id="features">
                <h3>O gestor de patrimônio para pequenas e médias<br> empresas que você <h3_1>precisa.</h3_1></h3>
            </article-features-title>

            <article-features>

                <section-features-left>

                    <container-features id="feature-section-1" class="hide-left">

                        <box-features-title>
                            <h4>Controle total, <br> em um só lugar<h4_1>.</h4_1></h4>
                        </box-features-title>

                        <box-features-description>
                            <h5>Facilite o trabalho com contadores, exportando facilmente dados financeiros.</h5>
                        </box-features-description>

                    </container-features>

                    <container-features id="feature-section-3" class="hide-left">

                        <box-features-title>
                            <h4>Integração contábil<h4_1>.</h4_1></h4>
                        </box-features-title>

                        <box-features-description>
                            <h5>Facilite o trabalho com contadores, exportando facilmente dados financeiros.</h5>
                        </box-features-description>
                        
                    </container-features>

                    <container-features style="margin-bottom: 2rem;" id="feature-section-5" class="hide-left">

                        <box-features-title>
                            <h4>Automação de <br> Processos<h4_1>.</h4_1></h4>
                        </box-features-title>

                        <box-features-description>
                            <h5>Economize tempo automatizando tarefas repetitivas, como cálculos de despesas recorrentes e criação de relatórios.</h5>
                        </box-features-description>
                        
                    </container-features>

                    <container-features-extra>
                        <box-features-extra>
                        </box-features-extra>
                    </container-features-extra>

                </section-features-left>

                <section-features-right>

                    <container-features-extra>
                        <box-features-extra>
                        </box-features-extra>
                    </container-features-extra>

                    <container-features id="feature-section-2" class="hide-right">

                        <box-features-title>
                            <h4>Relatórios <br>personalizados<h4_1>.</h4_1></h4>
                        </box-features-title>

                        <box-features-description>
                            <h5>Geração de relatórios detalhados para análise de desempenho financeiro.</h5>
                        </box-features-description>
                        
                    </container-features>

                    <container-features  id="feature-section-4" class="hide-right">

                        <box-features-title>
                            <h4>Gestão de invetário<h4_1>.</h4_1></h4>
                        </box-features-title>

                        <box-features-description>
                            <h5>Monitore seus ativos de forma eficiente, integrando o controle de patrimônio com o fluxo financeiro.</h5>
                        </box-features-description>
                        
                    </container-features>

                    <container-features  id="feature-section-6" class="hide-right">

                        <box-features-title>
                            <h4>Segurança e <br>Privacidade<h4_1>.</h4_1></h4>
                        </box-features-title>

                        <box-features-description>
                            <h5>Proteja seus dados financeiros com criptografia de ponta a ponta e controle de acesso baseado em permissões.</h5>
                        </box-features-description>
                        
                    </container-features>    

                </section-features-right>

            </article-features  >

            <article-features-end id="feature-btn-container" class="hide-down">
                <h3>Tudo isso e mais em um só lugar<h3_1>.</h3_1></h3>
                <a href="/user/register"><box-features-register><h6>Crie sua conta de graça!</h6></box-features-register></a>
            </article-features-end>

        </article>

        <article-team>
            <section-team-title>
                <h7>Conheça a equipe</h7>
            </section-team-title>

            <section-members>
                <container-members>
                    <box-member>

                        <member-photo><img class="member-photo" src="{{ url_for('static', filename='images/index/pedro.jpeg') }}" alt="Pedro Quixabeira"></member-photo>
                        <member-title><h8>Pedro Quixabeira</h8></member-title>
                        <member-sub-title><h9>Full-Stack/Database engineer</h9>></member-sub-title>

                        <member-socials>
                            <a  href="https://github.com/pedro11065" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/GitHub_logo.png') }}" alt="GitHub" class="icon">
                            </a>
                            <a href="https://www.linkedin.com/in/pedro-henrique-silva-quixabeira/" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                            </a>
                            <a href="mailto:pedrohenriquesilvaquixabeira@gmail.com"><img src="{{ url_for('static', filename='images/socials/Gmail_Logo.png') }}" alt="Gmail" class="icon"></a>
                        </member-socials>

                    </box-member>
                    <box-member>
                        
                        <member-photo><img class="member-photo" src="{{ url_for('static', filename='images/index/thiago.jpeg') }}" alt="Thiago Ameilda"></member-photo>
                        <member-title><h8>Thiago Ameilda</h8></member-title>
                        <member-sub-title><h9>Full-Stack</h9>></member-sub-title>

                        <member-socials>
                            <a  href="https://github.com/ThiagoAlmeidaDev" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/GitHub_logo.png') }}" alt="GitHub" class="icon">
                            </a>
                            <a href="https://www.linkedin.com/in/thiagoalmeida29/" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                            </a>
                            
                        </member-socials>

                    </box-member>
                    <box-member>
                        
                        <member-photo><img class="member-photo" src="{{ url_for('static', filename='images/index/miguel.jpeg') }}" alt="Miguel Macedo"></member-photo>
                        <member-title><h8>Miguel Macedo</h8></member-title>
                        <member-sub-title><h9>Front-End</h9>></member-sub-title>

                        <member-socials>
                            <a  href="https://github.com/MiguelMMarques065" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/GitHub_logo.png') }}" alt="GitHub" class="icon">
                            </a>
                            <a href="https://www.linkedin.com/in/miguel-macedo-marques-8308392b8/" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                            </a>
                            <a href="mailto:miguelmm06@hotmail.com"><img src="{{ url_for('static', filename='images/socials/Gmail_Logo.png') }}" alt="Gmail" class="icon"></a>
                        </member-socials>

                    </box-member>
                </container-members>

                <container-members>
                    <box-member>
                        
                        <member-photo><img class="member-photo" src="{{ url_for('static', filename='images/index/rhuan.jpg') }}" alt="Rhuan Mulero"></member-photo>
                        <member-title><h8>Rhuan Mulero</h8></member-title>
                        <member-sub-title><h9>Front-End</h9>></member-sub-title>

                        <member-socials>
                            <a  href="https://github.com/dev/rhuanmulero" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/GitHub_logo.png') }}" alt="GitHub" class="icon">
                            </a>
                            <a href="https://www.linkedin.com/in/rhuan-mulero/" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                            </a>
                            <a href="mailto:rhuanmscontato@gmail.com"><img src="{{ url_for('static', filename='images/socials/Gmail_Logo.png') }}" alt="Gmail" class="icon"></a>
                        </member-socials>

                    </box-member>
                    <box-member>

                        <member-photo><img class="member-photo" src="{{ url_for('static', filename='images/index/beatriz.jpeg') }}" alt="Beatriz Lima"></member-photo>
                        <member-title><h8>Beatriz Lima</h8></member-title>
                        <member-sub-title><h9>Database engineer</h9>></member-sub-title>

                        <member-socials>
                            <a  href="https://github.com/biafalls" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/GitHub_logo.png') }}" alt="GitHub" class="icon">
                            </a>
                            <a href="https://www.linkedin.com/in/beatriz-lima-a21a6b2a4/" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                            </a>
                            <a href="mailto:biaevangelista1967@gmail.com"><img src="{{ url_for('static', filename='images/socials/Gmail_Logo.png') }}" alt="Gmail" class="icon"></a>
                        </member-socials>

                    </box-member>
                    <box-member>
                        
                        <member-photo><img class="member-photo" src="{{ url_for('static', filename='images/index/julia.jpeg') }}" alt="Julia Santos"></member-photo>
                        <member-title><h8>Julia Santos</h8></member-title>
                        <member-sub-title><h9>Technical writer</h9>></member-sub-title>

                        <member-socials>
                            <a  href="https://github.com/Juli4Souzas" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/GitHub_logo.png') }}" alt="GitHub" class="icon">
                            </a>
                            <a href="https://www.linkedin.com/in/julia-santos-3873252b3/" target="_blank">
                                <img src="{{ url_for('static', filename='images/socials/LinkedIn_logo.png') }}" alt="LinkedIn" class="icon">
                            </a>
                            <a href="mailto:souzasjulia14@gmail.com"><img src="{{ url_for('static', filename='images/socials/Gmail_Logo.png') }}" alt="Gmail" class="icon"></a>
                        </member-socials>

                    </box-member>
                </container-members>
            </section-members>
        </article-team>

        <footer>
            <article-footer>

                <section-footer-logo>
                    <h10>BEESINESS</h10>
                    <h11>Desde 2024</h11>
                </section-footer-logo>

                <section-footer>

                    <box-footer>
                        <h11>Serviços</h11>
                    </box-footer>

                    <box-footer>
                        <h11>Trabalho conosco</h11>
                    </box-footer>

                    <box-footer>
                        <h11>Sobre nós</h11>
                    </box-footer>
                    
                </section-footer>

            </article-footer>

            </article-info>
                
            <article-end>
                <h11>© 2024 Direitos Reservados - Termos de Uso - Política de Privacidade</h11>
            </article-end>
        </footer>

    </main>












    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
