   <!-- Vai chamar a API bonitinho -->

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Beesiness</title>

    <!-- Css Linkado -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />

    <!-- Icon da Aba do Navegador -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Beessiness_-_Logo-removebg-preview.png') }}"
      type="image/png"
    />

    <!-- Fontes do Google: Roboto Slab -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Dark Mode -->
    <button id="dark-mode-toggle">🌙</button>

    <!-- Login -->
    <div class="login-container">
      <div class="login-box">
        <div class="logo">
          <img
            src="{{ url_for('static', filename='images/Beessiness_-_Logo-removebg-preview.png') }}"
            alt="Beesiness Logo"
          />
        </div>
        <h1>Login</h1>

        <!-- Entrada de Dados -->
        <form id="loginForm">
          <label for="username">USERNAME</label>
          <input type="text" id="username" placeholder="Digite Seu Email" />

          <label for="password">PASSWORD</label>
          <div class="password-container">
            <input type="password" id="password" placeholder="Digite Sua Senha" />
            <button type="button" class="show-password"></button>
          </div>
          <a href="{{ url_for('auth.forget_password') }}" class="forgot">Esqueceu a Senha?</a>

          <!-- Entrar no Beesiness -->
          <button type="submit" class="login-btn">Acesse</button>

          <!-- Criar Conta -->
          <a href="{{ url_for('auth.sign_up') }}" class="create-account">Abrir Conta</a>
        </form>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
