   <!-- Vai chamar a API bonitinho -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Beesiness</title>

    <!-- Css Linkado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">

    <!-- Icon da Aba do Navegador -->
    <link rel="icon" href="{{ url_for('static', filename='images/Beessiness_-_Logo-removebg-preview.png') }}" type="image/png">

    <!-- Fontes do Google: Roboto Slab -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Dark Mode -->
    <button id="dark-mode-toggle">🌙</button>

    <!-- Registro -->
    <div class="container">
        <h1>Criar Nova Conta</h1>
        <!-- Entrada de Dados -->
        <form id="registroForm">
            <div class="form-group">
                <label for="fullName">Nome Completo</label>
                <input type="text" id="fullName" name="fullName" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <!-- Campo de CPF adicionado! -->
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" autocomplete="off" maxlength="14" oninput="this.value = this.value.replace(/[^0-9.-]/g, '')" required>
                <!-- O máximo de 14 letras foi adicionado (para contar com as máscara, os pontos e traços do cpf). -->
            </div>
            <div class="form-group">
                <label for="birthDate">Data de Nascimento</label>
                <input type="date" id="birthDate" name="birthDate" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar Senha</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="form-group">
                <button type="submit">Registre-se</button>
            </div>

            <!-- Voltar ao Login -->
        </form>
        <div class="register-link">
            Já está registrado? <a href="{{ url_for('auth.login') }}">Clique aqui</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
</body>
</html>
