
<!-- Se puder na próxima explicar para que vai servir o arquivo com a palavra batata, eu agradeceria, valeu! -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beesiness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/company/dashboard.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Beesiness_logo.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet" />
</head>
<body>   
    <header class="header">

        <div class="user">
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/header/config.png') }}" alt="Configurações">
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/header/user.png') }}" alt="imagem usuário">
            <p>{{ current_user.fullname }}</p> <!-- Nome do usuário -->
        </div>

        <a href="/" class="exit">
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/header/exit.png') }}" alt="Botão sair">
        </a>
    </header>

    <h1>Você entrou na aba da sua empresa! O CNPJ dela está na URL.</h1>
    <a class="btn" href="{{ url_for('auth_dashboard.register_asset_site', cnpj=cnpj )}}" >Registrar ativo</a>
    <a href="{{ url_for('auth_dashboard.register_liability_site', cnpj=cnpj) }}" >Registrar passivo</a>
    <a href="{{ url_for('auth_dashboard.register_reason_site', cnpj=cnpj) }}" >razão</a>
</body>