
<!-- Se puder na próxima explicar para que vai servir o arquivo com a palavra batata, eu agradeceria, valeu! -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beesiness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/company/dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Adicionando Chart.js -->
    <link rel="icon" href="{{ url_for('static', filename='images/Beesiness_logo.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"/>
    
</head>
<body>
    <header class="header">

        <div class="user">
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/header/config.png') }}" alt="Configurações">
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/header/user.png') }}" alt="imagem usuário">
            <p>{{ current_user.fullname }}</p> <!-- Nome do usuário -->
        </div>

        <a href="/" class="exit">
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/header/exit.png') }}" alt="Botão sair">
        </a>

        <!-- <button class="btn logout" onclick="toggleModal()"><i class="fas fa-right-from-bracket"></i></button> -->
    </header>

    <article class="values_container_mobile" id="values_container_mobile">

        <section class="values_group_mobile" id="values_group_mobile">
            <div class="value" id="value"><h5>R$----</h5></div> <!-- valor movimentado no dia -->
            <div class="value" id="value"><h5>R$----</h5></div> <!-- Svalor movimentado na semana -->
            <div class="value" id="value"><h5>R$----</h5></div> <!-- valor movimentado no mes -->
        </section>

        <section class="values_group_mobile" id="values_group_mobile">

            <div class="value_type" id="value_type"><h5>Dia</h5></div>
            <div class="value_type" id="value_type"><h5>Semana</h5></div>
            <div class="value_type" id="value_type"><h5>Mês</h5></div>
            
        </section>

    </article>

    <article class="values_container_pc" id="values_container_pc">

        <section class="values_group_pc" id="values_group_pc">

            <div class="value" id="value">R$ ----</div> <!-- valor movimentado no dia -->
            <div class="value_type" id="value_type">Dia</div>
            <div class="value" id="value">R$ ----</div> <!-- Svalor movimentado na semana -->
            <div class="value_type" id="value_type">Semana</div>
            <div class="value" id="value">R$ ----</div> <!-- valor movimentado no mes -->
            <div class="value_type" id="value_type">Mês</div>

        </section>

        <img class="beesiness_img" src="{{ url_for('static', filename='images/dashboard/public/beesiness_logo_black.png') }}" alt="Beesiness logo"></img>
        
    </article>

    <article class="carousel-container">
        <button class="carousel-prev" onclick="scrollCarousel(-1)">&#10094;</button>
        <section class="carousel-wrapper">
            <nav class="buttons_container" id="buttons_container">
                <a class="button_box_green" href="{{ url_for('auth_dashboard.register_asset_site', cnpj=cnpj )}}">Registrar Ativo</a>
                <a class="button_box_red" href="{{ url_for('auth_dashboard.register_liability_site', cnpj=cnpj) }}">Registrar Passivo</a>
                <a class="button_box" href="{{ url_for('auth_dashboard.assets_site', cnpj=cnpj) }}">Ativos</a>
                <a class="button_box" href="{{ url_for('auth_dashboard.liabilities_site', cnpj=cnpj) }}">Passivos</a>
                <a class="button_box" href="{{ url_for('auth_dashboard.register_journal_site', cnpj=cnpj) }}">Diário</a>
                <a class="button_box" href="{{ url_for('auth_dashboard.balance_site', cnpj=cnpj) }}">Balancete</a>
                <a class="button_box" href="{{ url_for('auth_dashboard.razonete_site', cnpj=cnpj) }}">Razonete</a>
                <a class="button_box" href="{{ url_for('auth_dashboard.authorization_site', cnpj=cnpj) }}">Permissão</a>
            </nav>
        </section>
        <button class="carousel-next" onclick="scrollCarousel(1)">&#10095;</button>
    </article>
    
    <main id="main">

        <article class="info_box_container" id="info_box_container">
 
            <!--<section class="info_box_group" id="info_box_group">

                <div class="info_box">

                    <div class="info_box_title">
                        Saldo Atual
                    </div>

                    <div class="info_box_description">
                        R$ 1000,00
                    </div>
                </div>
                
                <div class="info_box">

                    <div class="info_box_title">
                        Quantidade de Ativos
                    </div>

                    <div class="info_box_description">
                        10
                    </div>
                </div>
                
                <div class="info_box">

                    <div class="info_box_title">
                        Quantidade de Passivos
                    </div>

                    <div class="info_box_description">
                        5
                    </div>
                </div>
                
                <div class="info_box">

                    <div class="info_box_title">
                        Patrimônio
                    </div>

                    <div class="info_box_description">
                        R$ 26.000,00
                    </div>

                </div>
                
            </section> --> 
          
        </article>

        <article class="charts-container">

            <section class="chart-box" id="balanceChart">

                <div class="chart-buttons">
                    <button class="btn chart-option" onclick="showWeekly()">Semanal</button>
                    <!--- <button class="btn chart-option" onclick="showMonthly()">Mensal</button> -->
                   <!--- <button class="btn chart-option" onclick="showYearly()">Anual</button> -->
                </div>

                <canvas id="balanceChartCanvas"></canvas> <!-- Canvas para o gráfico de saldo -->

            </section>

            <section class="chart-box" id="assetsLiabilitiesChart">

                <canvas id="assetsLiabilitiesChartCanvas"></canvas> <!-- Canvas para o gráfico de ativos e passivos -->

            </section>

        </article>

    </main>

    <div id="loading" style="display: none;">Carregando...
        <div id="resultado" ></div>
    </div>

    <article id="logoutModal" class="modal">
        <section class="modal-content">
            <span class="close" onclick="toggleModal()">&times;</span>
            <p>Você realmente deseja sair?</p>
            <button class="btn confirm" onclick="logout()">Sair</button>
            <button class="btn cancel" onclick="toggleModal()">Cancelar</button>
        </section>
    </article>

    <script src="{{ url_for('static', filename='js/dashboard/company/dashboard.js') }}" defer></script>



</body>
</html>
