<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/company/reason.css') }}">

    <!-- Icon da Aba do Navegador -->
    <link rel="icon" href="{{ url_for('static', filename='images/Beesiness_logo.png') }}" type="image/x-icon">

    <!-- Fonte Inter -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"/>

    <script src="{{ url_for('static', filename='js/dashboard/company/assets/register.js') }}" defer></script>
</head>

<body>
    <header class="header">
        <div class="user">
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/header/config.png') }}" alt="Configurações">
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/header/user.png') }}" alt="imagem usuário">
            <p>{{ current_user.fullname }}</p> <!-- Nome do usuário -->
        </div>

        <a href="/" class="exit">
            <img class="icon" src="{{ url_for('static', filename='images/dashboard/header/exit.png') }}" alt="Botão sair">
        </a>
    </header>
</body>